<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/picture-yourself.css">

<div class="main-container">
    <h1 class="main-header">Picture Yourself</h1>
    <div class="as-deliminator">as</div>
    <div class="wannabe-profile-container">
        <input type="text" class="wannabe-profile"
           placeholder="Please provide your Role model's LinkedIn profile">
    </div>
    <div class="my-profile-container">
        <input type="text" class="my-profile"
           placeholder="and your LinkedIn profile as well so we can tailor the results just for you...">
    </div>

    <button class="go-btn">Go!</button>
    <div class="courses"></div>
</div>

<script src="javascripts/react.js"></script>
<script src="javascripts/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script type="text/babel" src="javascripts/picture-yourself.js"></script>
