<h1>Picture Yourself</h1>
<div>
    <span>Your Profile: </span>
    <input type="text" class="my_profile">
</div>
<div>
    <span>Picture yourself as: </span>
    <input type="text" class="wannabe_profile">
</div>
<button class="picture-yourself">Picture yourself!</button>
<div class="recommendations"></div>
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/picture-yourself.js"></script>